.loader {
    width: 100px;
    height: 100px;
    outline: none;
    border-radius: 50%;
    border: 10px solid whitesmoke;
    border-top: 10px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spiner 1s   infinite  ;
}

@keyframes spiner {
    to{
        transform: rotate(0deg)
    }
    from{
        transform: rotate(360deg);
    }
    
}