.news-section{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.latest-news-panel,.social-media-panel{
    width: 20%;
    background-color: rgb(255, 255, 255);
}
.main-news-panel{
    margin-top: 2px;
    padding:0px 10px;
    width: 57%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(246, 246, 246);
}
